body, html {
    height: 100%;
    margin: 0;
  }
  

.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    box-sizing: border-box;

}

.header{
    grid-column: 2/4;
}

.sidebar{
    grid-row: 1/6;
}

.extra-content-bar{
    grid-column: 3/4;
    grid-row: 2/6;
}

.content{
    grid-column: 2/3;
    grid-row: 2/6;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}
